@model ListContentsViewModel
@using OrchardCore.ContentManagement

@if (Model.ContentItems.Count > 0)
{
    <ul class="post-list">
        @foreach (var contentItem in Model.ContentItems)
        {
            @await DisplayAsync(contentItem)
        }
    </ul>
}
else
{
    <div class="alert alert-info">
        @T["No Comments Found"]
    </div>
}