@model CommentatorPartViewModel

<div class="form-group">
    <div class="form-check">
        <label class="form-check-label" asp-for="AllowComments">
            <input asp-for="AllowComments" type="checkbox" class="form-check-input" />
            @T["Allow Comments"]
        </label>
    </div>
</div>