/*COMMENTS*/

h4, .h4 {
    font-size: 16px !important;
    margin-bottom: 0 !important;
    font-weight: 600 !important;
}

#divComments ul {
    position: relative;
}

#divComments > ul:first-child:before {
    display: none;
}

#divComments > ul:first-child {
    padding: 0;
}

#divComments ul .replycomment {
    background: none;
    border: none;
}

#divComments ul .replycomment {
    background: none;
    border: none;
    font-size: 12px;
    color: #ea9c0c;
    font-weight: bold;
}

#divComments ul i.fa-reply {
    color: #ea9c0c;
}

#divComments ul li {
    color: #666;
    width: 100%;
}

#divComments .comment-box button.btn,
.article-main-comment button.btn {
    padding: 2px 5px;
    font-size: 16px;
}

#divComments .comment-box {
    margin-top: 5px;
    margin-bottom: 10px;
}

    #divComments .comment-box textarea {
        margin-bottom: 5px;
    }

.comment-box-btn {
    text-align: right;
}

#divComments ul:hover:before {
    background: #ea9c0c;
}

#divComments ul .replycomment:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.comment-profile {
    font-size: smaller;
    color: cornflowerblue;
}

.avatar {
    float: left;
}

    .avatar .user,
    .avatar img {
        display: block;
        border-radius: 3px;
    }

    .avatar img {
        width: 48px;
        height: 48px;
    }

.comment-wrapper {
    display: -ms-flexbox;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-align: start;
    align-items: flex-start;
    display: flex;
}

.compose-wrapper {
    display: -ms-flexbox;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-align: start;
    align-items: flex-start;
}

.comment-content {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-left: 12px;
    padding-left: 10px;
}

.compose-content {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
}

.post-comment {
    margin-bottom: 0.5rem;
}

.post-list {
    list-style-type: none;
    margin: 0;
}

.comment-header {
    line-height: 1;
    font-size: 13px;
    padding-right: 46px;
    margin-bottom: 3px;
}

.post-by {
    font-size: 13px;
    font-weight: bold;
}

.post-options {
    float: right;
}

.post-children {
    display: inline-block;
    color: #666;
    width: 100%;
}

.new-reply {
    padding-left: 40px;
}

.post-comment img {
    max-width: 100%;
    max-height: 100%;
}

.post-commentcount {
    padding-bottom: 10px;
}
